body {
    font-family: Arial, sans-serif;
    background-color: #d6d6f3;
    padding: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="color"],
  input[type="number"],
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f7703b;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fa905e;
  }
  